{% extends "base.html" %}
{% block content %}

{% for animal in all_animals %}
    <div class="animal">
        <div class = "content">
            <a href="/animal/info/{{animal.id}}">Animal:{{animal.animal_name}}</a>
           <div class="Vet">
               <p> Vet: {{animal.vet.first_name}} {{animal.vet.second_name}}</p>
           </div> 
           <div class="buttons">

            <form class="delete-form" action="/animal/{{animal.id}}/delete"
            method="POST">
              <button class="trash-button"><i class="fa fa-trash-o fa-3x"
              style="color:red" aria-hidden="true"></i></button>
            </form>
        </div>
    </div>



{% endfor %}    

{% endblock %}