{% extends "base.html" %}

{% block content %}



<form action="/animals" method="post">

    <div>
        <label for="animal_name">Animal Name</label>
        <input type="text" id="animal_name" 
        name="animal_name" placeholder="Animal Name"
        required autofocus>
    </div>

    <div>
        <label for="date_of_birth">D.O.B</label>
        <input type="date" id="date_of_birth"
        name="date_of_birth" placeholder="D.O.B" required>
    </div>

    <div>
        <label for="animal_type">Animal Type</label>
        <input type="text" id="animal_type"
        name="animal_type" placeholder="Animal Type" required>
    </div>
   
    <div>
        <label for="owner_contact">Owner Contact Details</label>
        <input type="text" id="owner_contact"
        name="owner_contact" placeholder="Owner Contact Details" required>
    </div>
    
    <div>
        <label for="treatment_notes">Treatment Notes</label>
        <input type="text" id="treatment_notes"
        name="treatment_notes" placeholder="Treatment Notes" required>
    </div>


    
    <div>
        <label for="vet">Vet</label>
        <select id="vet" name="vet_id">

            

            {% for vet in all_vets %}
            <option value="{{vet.id}}">{{vet.first_name}} {{vet.second_name}}</option>
            {% endfor %}
            
        </select>
    </div>

    <div>
        <label for="animal_assigned">Annimal Assigned</label>
        <select id="animal_assigned" name="animal_assigned">
            <option value="1">True</option>
            <option value="0">False</option>
        </select>
    </div>


    <button type="submit">Register Animal</button>


</form>

{% endblock %}